---
import SparklesCore from "../components/SparklesCore";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Vishwakarma Premier League" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="bg-black leading-relaxed text-neutral-200 tracking-wide antialiased selection:bg-neutral-300 selection:text-neutral-900 z-10 relative"
  >
    <SparklesCore
      client:load
      id="tsparticlesfullpage"
      background="transparent"
      minSize={0.6}
      maxSize={1.4}
      opacity={0.3}
      particleDensity={50}
      className="w-full h-full fixed inset-0 z-0"
      particleColor="#4a90e2"
    />
    <div class="relative z-10">
      <slot />
    </div>
    <script src="../scripts/main.ts"></script>
  </body>

  <style is:global>
    html {
      font-family: system-ui, sans-serif;
      background-size: 224px;
      font-size: 1.125rem;
    }
    /* Webkit Browsers (Chrome, Safari) */
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background: transparent; /* Hides the track */
    }

    ::-webkit-scrollbar-thumb {
      background-color: #555; /* Color of the scrollbar thumb */
      border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #888; /* Color when hovered */
    }

    ::-webkit-scrollbar-thumb:active {
      background-color: #aaa; /* Color when active */
    }

    /* Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: #555 transparent; /* Color of the scrollbar thumb and track */
    }
  </style>
</html>
