---
import HallOfFame from "../components/HallOfFame.astro";
import HeroSection from "../components/HeroSection.astro";
import LoginRegister from "../components/LoginRegister.astro";
import MemoriesSection from "../components/MemoriesSection.astro";
import Overview from "../components/Overview.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vishwakarma Premier League (VPL)">
  <div class="relative hero z-10">
    <HeroSection />
    <Overview />
    <HallOfFame />
    <!-- 
    <MemoriesSection />
    <LoginRegister /> -->
  </div>

  <style scoped>
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .hero {
      background-image: url(/pattern.svg);
      background-position: top center;
      background-repeat: no-repeat;
      overflow-y: visible;
      overflow-x: clip;
    }

    .hero {
      animation: fadeIn 3s;
    }
  </style>
</Layout>
